<%= form_with(model: friend, local: true) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2>
        <% friend.errors.full_messages[0] %> </h2>

      <ul>
        <% friend.errors.full_messages.each do |message| %>
          <li><%= message.inspect %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
  </div>

  <div class="field form-group">
    <%= form.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
  </div>

  <div class="field form-group">
    <%= form.text_field :email, class: 'form-control', placeholder: 'Email' %>
  </div>

  <div class="field form-group">
    <%= form.text_field :phone, class: 'form-control', placeholder: 'Phone Number' %>
  </div>

  <div class="field form-group">
    <%= form.text_field :twitter, class: 'form-control', placeholder: 'Twitter' %>
  </div>
  <div class="field form-group">
    <%= form.number_field :user_id, id: :friend_user_id, class: 'form-control', value: current_user.id, type: :hidden %>
  </div>
  <div class="filed form-group">
    <%= form.check_box :is_active %>
    <%= form.label :is_active, 'Select' %>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
<% end %>



